<!DOCTYPE html>
<html lang='english'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Design</title>
    <!-- Remix Icon CDN -->
    <link href='https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css' rel='stylesheet'>
    <!-- Attached CSS file style.css -->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!-- Tailwind CSS CDN -->
    <script src='https://cdn.tailwindcss.com'></script>
    <!-- Attached JS filt script.js -->
    <script defer src='/javascripts/script.js'></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 p-10">
        <a class="text-blue-500 capitalize" href="/">go back</a>
        <div class="mt-10 text-white">
            <form action="/edit" method="post">
                <input class="block w-1/4 px-5 py-2 rounded-md outline-none bg-zinc-800" type="text" placeholder="previous name" value="<%= filename.replace('txt','').replace('.','').split('_').join(' ') %>" readonly name="prev">
                <input class="block mt-2 w-1/4 px-5 py-2 rounded-md outline-none bg-zinc-800" type="text" placeholder="new name" name="new">
                <input class="bg-blue-600 px-4 py-2 rounded-md mt-2  " type="submit" value="Click me">
            </form>
        </div>
    </div>
</body>
</html>